{%
    set classes = [
    'card-carousel-slide',
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
]
%}
{% block paragraph %}
    <div{{ attributes.addClass(classes) }}>
      {{ content.field_overline_text }}
      <h2 class="card-carousel-slide-header"><span>{{ content.field_title }}</span></h2>
      {{ content.field_body }}
      {% if paragraph.field_text is not empty %}
        <div class="card-carousel-sm">
          {{ content.field_text }}
        </div>
      {% endif %}
      
      {# display link if the url title is present #}
      {% if paragraph.field_link.0.title|render is not empty %} 
        <div class="callout_link {{ content.field_link_style.0 }}">
          {{ content.field_link }}
        </div>
      {% endif %}
    </div>
{% endblock paragraph %}
