<div class="top_header_wrap">
{# secondary nav #}
  
    {% if page.secondary_menu or page.top_header or page.top_header_form %}
        {% if container_navbar %}
          <div class="container ">
        {% endif %}
      <nav{{ navbar_top_attributes.addClass(' d-flex justify-content-end') }}>
            {{ page.secondary_menu }}
            {{ page.top_header }}
            {% if page.top_header_form %}
              <div class="form-inline navbar-form float-right">
                {{ page.top_header_form }}
              </div>
            {% endif %}
          {% if container_navbar %}
            </div>
          {% endif %}
        </nav>
      </div>
    {% endif %}

{# check for menu placement #}

{% if page.primary_menu %}

  <div class="container">
    <div class="row">        
{# logo #}
      {{ page.header }}
{# main nav #}
      {% if page.header_form %}
{#         <div class="form-inline navbar-form float-right"> #}
          {{ page.header_form }}
          <button class="nav-content-toggle" type="button" data-toggle="collapse" data-target="#CollapsingNavbar" aria-controls="CollapsingNavbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      {% endif %}
    </div>
    <div class="row navbar_full">

      <nav{{ navbar_attributes }}>
        {% if page.primary_menu  %}
          <div class="collapse navbar-collapse" id="CollapsingNavbar">
            {{ page.primary_menu }}
          </div>
        {% endif %}
      </nav>
    </div>
  </div>

{% else %}

  <div class="container">
    <div class="d-flex justify-content-between">        
{# logo #}
    {{ page.header }}
{# main nav #}
      <nav{{ navbar_attributes }}>
        {% if page.primary_menu_header or page.header_form %}
          <div class="collapse navbar-collapse" id="CollapsingNavbar">
            {{ page.primary_menu_header }}
            {% if page.header_form %}
              <div class="form-inline navbar-form float-right">
                {{ page.header_form }}
              </div>
            {% endif %}
          </div>
        {% endif %}
          <button class="nav-content-toggle" type="button" data-toggle="collapse" data-target=".region-nav-content" aria-controls="CollapsingNavbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      </nav>
    </div>
   </div>


{% endif %}


{% if page.nav_content %}
      {{ page.nav_content }}
{% endif %}